/* Scrollbar */

html {
  scrollbar-color: #F24655 #6C004F;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #6C004F;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #F24655;
  width: 4px;
  height: 4px;
  border-radius: 10px;
}
