/* Variables */

:root {

  /* Cores */

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

  --cor-roxo: #6C004F;
  --cor-vermelho: #F24655;
  --cor-amarelo: #FDB126;
  --cor-laranja: #FF7D1A;
  --cor-verde: #1D985B;

  --cor-roxo-escuro: #300023;

  --cor-texto: rgba(255, 255, 255, 0.8);

  /* Fontes */

  --fonte-bold: 'mark-pro-bold';
  --fonte-regular: 'mark-pro-regular';

}
