/* index <section class="funciona"> */

section.funciona {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-laranja);
  background-image: url('../../../../../files/images/index/background-pattern.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 80px 80px 0 0;
}

section.funciona img.onda {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

section.funciona img.principal {
  width: 100%;
  max-width: 40%;
  margin-top: auto;
}

section.funciona .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  margin-right: auto;
  padding: 0 0 80px 120px;
}

section.funciona .texto h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  color: var(--cor-branco);
  line-height: 1.5;
}

section.funciona .texto p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-texto);
  line-height: 1.7;
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
}

section.funciona .texto p img {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  margin: 0 15px 0 0;
}
 
/* Responsivo */

@media screen and (max-width: 1000px) {
  section.funciona {
    flex-direction: column-reverse;
    padding: 80px 30px 0 0;
  }
  section.funciona img.principal {
    max-width: 100%;
  }
  section.funciona .texto {
    width: 100%;
    padding: 0 0 50px 30px;
  }
  section.funciona .texto p {
    padding: 30px 0 0 0;
  }
  section.funciona .texto p img {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin: 0 12px 0 0;
  }
}
